@charset "utf-8";
/* Map Showcase CSS */

.ui-block{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
}

.map-showcase{
	width:720px;
	height:400px;
	position:relative;
	background:#eee;
	box-shadow: 0 0 8px 0px rgba(0,0,0,.5);
	margin: 14px;
	border: 1px solid #eee;
}

.clear{clear:both;}

.map-showcase *{
	margin:0;
	padding:0;
}
/*-------------------------------------------------------------------->
	1 | MAP
<--------------------------------------------------------------------*/

.ms-map{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	
	display:none;
}
.ms-map.active{display:block;}


/*----------------------------->
	B | Zoom slider
<-----------------------------*/
.map-showcase .esriSimpleSlider {
    border-radius: 0;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
    border: 1px solid #eee;
}
.esriSimpleSliderIncrementButton {
    border-bottom: 1px solid #bbb!important;
}
.esriSimpleSliderDecrementButton {
    border-top: 1px solid #eee;
}

.esriSimpleSliderIncrementButton:hover,
.esriSimpleSliderDecrementButton:hover {
    background:#eee;
}
/*----------------------------->
	C | Geocoder Widget
<-----------------------------*/

.simpleGeocoder {
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 20px;
}
.map-showcase .simpleGeocoder .esriGeocoder {
    border: 1px solid #eee;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
    border-radius: 0;
    z-index: 20;
    position: relative;
}
.map-showcase .simpleGeocoder .esriGeocoderResults {
    border: 1px solid #eee;
    border-radius: 0;
    background: #f9f9f9;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
    margin-top: 0px;
}

/*-------------------------------------------------------------------->
	2 | CHICLETS
<--------------------------------------------------------------------*/
.ms-chiclets-menu {
    position: absolute;
    right: 5px;
    top: 5px;
}
.ms-chiclet {
    float: left;
    margin: 5px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
    cursor: pointer;
	height: 54px;
	width: 54px;	
}
.chiclet-image {
    width: 48px;
    height: 48px;
    border: 3px solid #fff;
}

.ms-chiclet:hover .chiclet-image {border-color:#eee;}
.ms-chiclet.active .chiclet-image {border-color:#f36f20;}

.ms-chiclet-label {
    width: 100px;
    color: #fff;
    background: #000;
    text-align: center;
    margin-left: -22px;
	display:none;
}


.ms-chiclet:hover .ms-chiclet-label{
	display:block;
}
/*-------------------------------------------------------------------->
	3 | TABS
<--------------------------------------------------------------------*/
.tabs-app .map-showcase {margin-top: 50px;}
.ms-tabs-menu {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    height: 40px;
    overflow: hidden;
    padding: 0 5px;
}
.ms-tab {
    background: #eee;
    float: left;
    line-height: 36px;
    padding: 0 10px;
    margin-top: 4px;
    cursor: pointer;
	box-shadow: 0 0 1px 0 rgba(0,0,0,.5);
}
.ms-tab:hover {
    background: #ddd;
}
.ms-tab.active {
    background: #fff;
    color: #007ac2;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
    z-index: 25;
    position: relative;
}